

.about{
    margin-top: 20vw;
}

.about-container{

    position: fixed; /* Mantiene el div en una posición fija */
    top: 50%; /* Mueve el div al centro verticalmente */
    left: 50%; /* Mueve el div al centro horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrarlo */
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    z-index: 1;
    padding: 20px; /* Añade un poco de padding */

    
}

.about-container *{
    transition: opacity 0.3s ease;
    opacity: 1;
    color: var(--secondary-color);
}

.projects{
    z-index: 2;
    width: 100%;
    margin-top: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.projects h1{
    color: var(--secondary-color);
    margin-bottom: 7vw;
}

.project{
    background-color: var(--terciary-color);
    width: 100%;
    margin-bottom: 10vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;

    /*-webkit-box-shadow: 0px 0px 41px 5px var(--secondary-color);
    -moz-box-shadow: 0px 0px 41px 5px var(--secondary-color);
    box-shadow: 0px 0px 41px 5px var(--secondary-color);*/
}


.project img, .project p{
    margin-bottom: 10px;
}

.project-title{
    margin-top: 6vw ;
}
.project p{
    margin-bottom: 6vw ;

}

.project-img{
    border-radius: 25px;
}

.project-img:hover{
    cursor: pointer;
}

.top-gradient{
    display: block;
    width: 100%;
    height: 7vw;
    background: rgb(249,248,246);
    background: linear-gradient(180deg, rgba(39,39,39,1) 0%, rgba(249,248,246,1) 91%);
}

.bottom-gradient{
    display: block;
    width: 100%;
    height: 7vw;
    background: rgb(249,248,246);
    background: linear-gradient(180deg, rgba(249,248,246,1) 0%, rgba(39,39,39,1) 100%);
}


.arrow-container{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.arrow-svg{
    height: 3em;
    color: var(--secondary-color);
}

.project-title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.project-title img{
    width: 75px;
    height: auto;
    margin-left: 30px;
}