
.about{
    margin-top: 10vw;
}

.about-container{

    position: fixed; /* Mantiene el div en una posición fija */
    top: 50%; /* Mueve el div al centro verticalmente */
    left: 50%; /* Mueve el div al centro horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrarlo */
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Coloca los elementos en columna */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    z-index: 1;
    padding: 20px; /* Añade un poco de padding */

    
}


.about-container p, .about-container h1{
    transition: opacity 0.0s ease;
    opacity: 1;
    color: var(--secondary-color);
    text-wrap: nowrap;
}

.projects{
    z-index: 2;
    width: 100%;
    margin-top: 80%;
    /*margin-top: 105vh;*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.projects h1{
    color: var(--secondary-color);
    margin-bottom: 7vw;
}

.project{
    background-color: var(--terciary-color);
    width: 100%;
    margin-bottom: 10vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;

    /*-webkit-box-shadow: 0px 0px 41px 5px var(--secondary-color);
    -moz-box-shadow: 0px 0px 41px 5px var(--secondary-color);
    box-shadow: 0px 0px 41px 5px var(--secondary-color);*/
}

.project-desc{
    margin-left: 2vw;
    margin-right: 2vw;
}

#about-email{
    text-align: center;
}


 .project p{
    margin-bottom: 10px;
}

.project img{
    border-radius: 5px;
}


.project p{
    margin-bottom: 6vw ;

}

.project-img{
    border-radius: 25px;
    transition: all 0.3s;
    width: 45%;
    height: auto;

}

.project:hover{
    cursor: pointer;
}

.project-img:hover{
    cursor: pointer;
    transform: scale(1.05);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.top-gradient{
    display: block;
    width: 100%;
    height: 7vw;
    background: rgb(249,248,246);
    background: linear-gradient(180deg, rgba(39,39,39,1) 0%, rgba(249,248,246,1) 91%);
}

.bottom-gradient{
    display: block;
    width: 100%;
    height: 7vw;
    background: rgb(249,248,246);
    background: linear-gradient(180deg, rgba(249,248,246,1) 0%, rgba(39,39,39,1) 100%);
}


.arrow-container{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
}
.arrow-svg{
    height: 3em;
    color: var(--secondary-color);
}

.project-title{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.project-title img{
    width: 75px;
    height: auto;
    margin-left: 30px;
}

.social .logo{
    width: 50px;
    height: auto;
    margin-left: 20px;
    transition: all 0.3s;
    color: var(--secondary-color)
}

.social .logo:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: var(--terciary-color) !important;
}

@media (min-width: 1024px) and (max-width: 1300px){

    .about-container{
        top: 55%;
    }

    #about-title{
        margin-bottom: 0 !important;
    }
}

/* Animation */

 .fill:hover{
    box-shadow: inset 0 0 0 2em var(--hover);
  }
  .pulse, .pulse:focus {
    animation: pulse 2.0s infinite;
    box-shadow: 0 0 0 2em transparent;
    border-radius: 360px;
    overflow: visible;
  }
  @keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--secondary-color);
    }

    50.0% {
        box-shadow: 0 0 0 1.5em transparent;
    }

    100% {
        box-shadow: 0 0 0 0 transparent;
    }
  }

  .pulse:hover{
    cursor: pointer;

  }

  code {
    color: #e4cb58;
    font: inherit;
  }


  
@media (max-width: 1024px){

    .about {
        height: 75vh;
        display: flex;
        justify-content: center;
        align-items: center;
    
        /*padding-top: 80px;*/  /* Adjusted to ensure it doesn't overlap with navbar */
    }
    
    .about-container {
        text-align: center;
        position: unset;
        top: unset;
        left: unset;
        transform: unset;
    }

    .project-title{
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 4vw;
    }

    .project{
        width: 85%;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 0;
        box-shadow: 10px 10px 0px 0px rgb(19 19 19);
    }

    .projects{
        margin-top: 0%;
    }

    .project-desc{
        font-size: 5.0vw;
        text-wrap: pretty;
    }

    .project-title img{
        width: 50px;
        margin-left: 0;
        margin-right: 10px;
    }

    .icons-container{
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        align-items: center;
        justify-content: space-around;
    }

    .project-img{
        width: 102%;
        border-radius: 0px !important;
    }

    
}
   